{{> head}}
{{> navbar}}
<div class="container pt-3">

    <div class="row mt-5">
        <div class="col-8">
            <h1> Realizado por {{ capitalizar 'UlisitOs' }}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sequi recusandae, odit voluptate sed, provident ex facere molestias mollitia minus sit eum incidunt doloremque? Repudiandae recusandae assumenda iure debitis quae.</p>
        </div>
        <div class="col-4">
            <img src="assets\img\descarga.png" alt="..." class="img-thumbnail">
        </div>
    </div>
</div>
{{> footer}}